body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chart-container {
  height: 30vh;
  padding: 1rem;
  width: 100%;
}

.Select-control {
  color: white;
}

.Select-value-label {
  color: white;
}

.Select-menu-outer {
  background-color: #2C3E50;
}

.Select-option {
  color: white;
}

.Select-option.is-focused {
  background-color: rgba(255, 255, 255, 0.1);
}

.Select-option.is-selected {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Media queries for various screen sizes */
@media (min-width: 768px) {
  /* Styles for screens larger than 768px */
}

@media (min-width: 992px) {
  /* Styles for screens larger than 992px */
}

@media (min-width: 1200px) {
  /* Styles for screens larger than 1200px */
}

@media (min-width: 1440px) {
  /* Styles for screens larger than 1440px */
}

@media (min-width: 1920px) {
  /* Styles for screens larger than 1920px */
}
